body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 200px;
}

img {
    width: 200px;
    height: 200x;
}

.aboutGame {
    width: 400px;


}